div
    p #{name}
    p #{address1}
    p #{address2}
    p #{code_postal} #{ville}

    br

    p À #{ville}, le #{date}

    p Objet : Résiliation des contrats de mutuelle et d'assurance

    p Madame, Monsieur,

    p Je tiens, par la présente, à vous informer de ma décision de mettre un terme à mes contrats de mutuelle et d’assurance, arrivant à échéance le 30 septembre. Mon numéro SMENO est #{numero_smeno}.

    p Veuillez accepter, Madame, Monsieur, l'expression de mes salutations distinguées.
