div
    p #{name}
    p #{address1}
    p #{address2}
    p #{code_postal} #{ville}
    p Nº Free Mobile #{numero_free}

    br

    p À #{ville}, le #{date}

    p Objet : Résiliation du contrat Free mobile

    p Madame, Monsieur,

    p Par la présente, veuillez accuser réception de la résiliation de mon contrat Free mobile.

    p Conformément aux conditions générales de vente, je vous remercie de prendre les mesures adéquates pour mettre fin au contrat d'abonnement qui nous lie.

    p Conformément aux dispositions de l’article L. 121-84-2 du code de la consommation, je souhaite que la résiliation soit effective dans un délai de dix jours maximum à compter de la réception de mon courrier recommandé par vos soins, la date indiquée sur l'accusé de réception faisant foi.

    p Veuillez accepter, Madame, Monsieur, l'expression de mes salutations distinguées.
